*{
  list-style: none;
  text-decoration: none;
}

a:visited {
  color: var(--azul-Escuro);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 }

.logo{
  width: 100px;
}

ul{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.menu > ul > li{
  padding: 1rem;
}

.faleConosco:hover{
  text-decoration: underline;
  text-decoration-color: var(--azul-Escuro);
}