*{
  --azul-Claro: #157B95;
  --azul-Escuro: #0E4F62;
  --branco: #FFFFFF;
  --preto: #000000
}

:root {
  font-family: Montserrat Family; 
  line-height: 1.5;
  font-weight: bold;
  background-color: var(--branco) ;
  color: var(--azul-Escuro);
}